<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @proposal.title %>
</p>

<p>
  <strong>Template:</strong>
  <%= @proposal.template_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @proposal.user_id %>
</p>

<p>
  <strong>Link:</strong>
  <%= @proposal.link %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
