<%= form_for(@template_position) do |f| %>
  <% if @template_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template_position.errors.count, "error") %> prohibited this template_position from being saved:</h2>

      <ul>
      <% @template_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price_item_id %><br>
    <%= f.number_field :price_item_id %>
  </div>
  <div class="field">
    <%= f.label :template_id %><br>
    <%= f.number_field :template_id %>
  </div>
  <div class="field">
    <%= f.label :template_item_id %><br>
    <%= f.number_field :template_item_id %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
